#include <physical_layouts.dtsi>

/ {
    dactyl46_layout: dactyl_layout466 {
        compatible = "zmk,physical-layout";
        display-name = "default_transform";

        // kscan = <&kscan0>;
        // transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  108   83       0     0     0>
            , <&key_physical_attrs 100 100    1   83       0     0     0>
            , <&key_physical_attrs 100 100  220   15       0     0     0>
            , <&key_physical_attrs 100 100  333    0       0     0     0>
            , <&key_physical_attrs 100 100  450   16       0     0     0>
            , <&key_physical_attrs 100 100  560   16       0     0     0>
            , <&key_physical_attrs 100 100  970   16       0     0     0>
            , <&key_physical_attrs 100 100 1075   16       0     0     0>
            , <&key_physical_attrs 100 100 1196    0       0     0     0>
            , <&key_physical_attrs 100 100 1309   15       0     0     0>
            , <&key_physical_attrs 100 100 1421   83       0     0     0>
            , <&key_physical_attrs 100 100 1529   83       0     0     0>
            , <&key_physical_attrs 100 100    0  189       0     0     0>
            , <&key_physical_attrs 100 100  111  189       0     0     0>
            , <&key_physical_attrs 100 100  227  120       0     0     0>
            , <&key_physical_attrs 100 100  344  105       0     0     0>
            , <&key_physical_attrs 100 100  448  121       0     0     0>
            , <&key_physical_attrs 100 100  554  122       0     0     0>
            , <&key_physical_attrs 100 100  975  122       0     0     0>
            , <&key_physical_attrs 100 100 1081  121       0     0     0>
            , <&key_physical_attrs 100 100 1185  105       0     0     0>
            , <&key_physical_attrs 100 100 1302  120       0     0     0>
            , <&key_physical_attrs 100 100 1418  189       0     0     0>
            , <&key_physical_attrs 100 100 1529  189       0     0     0>
            , <&key_physical_attrs 100 100    0  302       0     0     0>
            , <&key_physical_attrs 100 100  113  302       0     0     0>
            , <&key_physical_attrs 100 100  230  233       0     0     0>
            , <&key_physical_attrs 100 100  348  219       0     0     0>
            , <&key_physical_attrs 100 100  453  234       0     0     0>
            , <&key_physical_attrs 100 100  560  235       0     0     0>
            , <&key_physical_attrs 100 100  969  235       0     0     0>
            , <&key_physical_attrs 100 100 1076  234       0     0     0>
            , <&key_physical_attrs 100 100 1181  219       0     0     0>
            , <&key_physical_attrs 100 100 1299  233       0     0     0>
            , <&key_physical_attrs 100 100 1416  302       0     0     0>
            , <&key_physical_attrs 100 100 1529  302       0     0     0>
            , <&key_physical_attrs 100 100    0  416       0     0     0>
            , <&key_physical_attrs 100 100  111  416       0     0     0>
            , <&key_physical_attrs 100 100  227  347       0     0     0>
            , <&key_physical_attrs 100 100  344  333       0     0     0>
            , <&key_physical_attrs 100 100  448  348       0     0     0>
            , <&key_physical_attrs 100 100  554  349       0     0     0>
            , <&key_physical_attrs 100 100  975  349       0     0     0>
            , <&key_physical_attrs 100 100 1081  348       0     0     0>
            , <&key_physical_attrs 100 100 1185  333       0     0     0>
            , <&key_physical_attrs 100 100 1302  347       0     0     0>
            , <&key_physical_attrs 100 100 1418  416       0     0     0>
            , <&key_physical_attrs 100 100 1529  416       0     0     0>
            , <&key_physical_attrs 100 100  575  366    1500     0     0>
            , <&key_physical_attrs 100 150  675  316    1500     0     0>
            , <&key_physical_attrs 100 150  775  316    1500     0     0>
            , <&key_physical_attrs 100 150  700  741 (-1500)     0     0>
            , <&key_physical_attrs 100 150  800  741 (-1500)     0     0>
            , <&key_physical_attrs 100 100  900  791 (-1500)     0     0>
            , <&key_physical_attrs 100 100  575  466    1500     0     0>
            , <&key_physical_attrs 100 100  675  466    1500     0     0>
            , <&key_physical_attrs 100 100  775  466    1500     0     0>
            , <&key_physical_attrs 100 100  700  891 (-1500)     0     0>
            , <&key_physical_attrs 100 100  800  891 (-1500)     0     0>
            , <&key_physical_attrs 100 100  900  891 (-1500)     0     0>
            ;
    };
};
